# Mac OS-specific storage files
.DS_Store
**/.DS_Store
**/solutions*.ipynb
**/Solutions*.ipynb
**/.ipynb_checkpoints/*
ids720_specific/opioids/mock_plots.ipynb

**/*.fls
**/*.log
**/*.blg
**/*.bbl
**/*.aux
**/*.out
**/*.pdfsync
**/*.synctex.gz
**/.DS_Store
**/*.fdb_latexmk
.vscode/*
**/~*
